* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    left: 0;
    top: 0;
    height: 40px;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 3fr;
    background-color: #000a11;
    border: none;
    padding: 4px 16px;

    .nav-logo {
        display: flex;
        align-content: center;
        img {
            width: 36px;
            height: 36px;
        }
    }

    .nav-login {
        display: flex;
        flex-direction: row;
        justify-content: end;

        input {
            width: 200px;
            height: 32px;
            padding-left: 8px;
            border-radius: 4px;
            border: none;
        }
        button {
            width: min-content;
            padding: 8px 16px;
            border: none;
            border-radius: 8px;
            background-color: #337cbc;
            color: #ffffff;
        }
    }
}

.container {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    h1, h4 {
        width: 100dvw;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 16px;
    }

    .sec-musicas {
        width: 75dvw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        .buscar-musicas {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 32px auto;
            gap: 4px;

            input {
                width: 100%;
                padding: 8px;
                border-radius: 8px 0 0 8px;
            }

            button {
                width: min-content;
                padding: 8px 16px;
                border-radius: 0 8px 8px 0;
                background-color: #328f28;
                color: #ffffff;
                cursor: pointer;
            }

            input, button {
                border: none;
                box-shadow: 0 0 4px #000a11;
                font-size: max(1.2dvw, 16px);
            }
        }

        .lista-musicas {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 16px auto;
            gap: 16px;

            ul {
                width: 85%;

                li {
                    list-style: none;

                    audio {
                        width: 100%;
                    }
                    h5 {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}